.charging {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: #ffa500; 
    background-color: #ffffff; 
  }
  
  .charging .charging-icon {
    font-size: 4rem;
    animation: chargingIcon 1s ease-in-out infinite alternate;
  }
  
  .charging h2 {
    margin-top: 20px;
    font-size: 20rem;
  }
  
  .charging p {
    font-size: 1.2rem;
  }
  
  @keyframes chargingIcon {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }