.moving-to-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 165vh;
    color: #4a90e2;
    background-color: #f0f0f0;
  }
  
  .moving-to-location .moving-icon {
    font-size: 4rem;
    animation: moveIcon 1s ease-in-out infinite alternate;
  }
  
  .moving-to-location h2 {
    margin-top: 20px;
    font-size: 2rem;
  }
  
  .moving-to-location p {
    font-size: 1.2rem;
  }
  
  @keyframes moveIcon {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }